th:hover {
    font-size: large;
    color: grey;
    cursor: pointer;
}
td:hover {
    font-size: large;
    color: grey;
    font-weight: bold;
}

.highlight {
    /* color: orange; */
    background-color: #FFFF00;
} 